.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.about__image {
    padding: 80px 0 80px 104px;
}

.about__image--img {
    
    width: 464px;
    height: 464px;
    border-radius: 50%;
    object-fit: cover;
}

.about__description {
    width: 600px;
    margin: 0;
    padding: 131px 216px 303px 56px;
}

.about__title {
    width: 100%;
    height: 46px;
    margin: 0;
    font-family: 'Roboto slab', sans-serif;
    font-size: 40px;
    line-height: 46px;
    font-weight: 400;
}

.about__text {
    margin: 0;
    padding-top: 24px;
}