.card {
    margin: 0;
    width: 100%;
}
.card_content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 576px;
    overflow: hidden;
    border-radius: 5%;
    background-color: #d1d1d1;
}

.card__image {
    width: 100%;
    height: 272px;
    object-fit: cover;
    flex-shrink: 0;
}

.card__description {
    margin: 0;
    padding: 24px;
    display: flex;
    flex-direction: column;
    width: 352px;
    height: 304px;
    flex-grow: 1;
    overflow: hidden;
}

.card__date {
    width: 100%;
    margin: 0;
}

.card__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0;
    padding-top: 12px;
    max-height: 88px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;
}

.card__text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin: 0;
    padding-top: 12px;
    width: 352px;
    max-height: 88px;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    font-size: 16px;
    line-height: 22px;
}

.card__source {
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding-top: 14px;
}

.card__container--button {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 1.3333rem;
    right: 1.3333rem;
    z-index: 20;
    cursor: pointer;
}

.card__keyword{
    position: absolute;
    width:auto;
    margin: 0;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    top: 1.3333rem;
    left: 1.3333rem;
    z-index: 20;
    background-color: #ffffff;
    border-radius: 10%;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.card__tooltip{
    display:none;
    position: absolute;
    width:auto;
    margin: 0;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    top: 1.3333rem;
    right: 4.3333rem;
    z-index: 20;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
}

.card__button {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 1.3333rem;
    right: 1.3333rem;
    z-index: 20;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    background-image: url('../../images/Icon/bookmark_normal.png');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10%;
    
}

