.footer {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.footer__copyright {
    width: 433px;
    height: 22px;
    margin: 0;
    padding-left: 104px;
}

.footer__bar--container {
    margin: 0;
}

.footer__container--buttons {
    display: flex;
    gap: 40px;
    margin: 0;
    padding-right: 104px;
}

.footer__command--buttons {
    display: flex; 
    gap: 43px;
}

.footer__command--button {
    background: none;
    border: none;
}

.footer__social--buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 24px;
    
}

.footer__social--buttons-btn {
    background: none;
    border: none;
    width: 24px;
    height: 24px;
}

