@import url("../src/vendor/normalize.css");
@import url("../src/vendor/fonts.css");

.html, body{
    display: flex;
    margin: 0;
    justify-content: center;
    background-color: #000000;
    max-width: 1440px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

a, 
button, 
[role="button"], 
input[type="submit"], 
input[type="button"],
.card_content,
.clickable,
[onclick] {
    cursor: url('./images/cursors/Pointer.png') 12 12, pointer !important;
}

